<section class="my-5">
    <div class="container">
        <div class='row'>
            <h4 class="mb-4">{{'CertificateTrainer' | translate }} - {{lstData?.TrainerName}}</h4>
        </div>
        <div class="col-md-12" *ngIf='lstData?.lstResult && lstData?.lstResult.length'>
            <div class='table-responsive'>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>{{'GenericPartner' | translate }}</th>
                            <th>{{'GenericTrainingType' | translate }}</th>
                            <th>{{'GenericTrainingCategory' | translate }}</th>
                            <th>{{'GenericAction' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let obj of lstData?.lstResult'>
                            <td>{{ obj.PartnerName}}</td>
                            <td>{{ obj.TrainingTypeName}}</td>
                            <td>{{ obj.TrainingCategoryName}}</td>
                            <td>
                                <a *ngIf="obj.CertificatePath != ''" href="{{FilesURL + obj.CertificatePath}}"
                                    target="_blank">{{'CertificateDownloadCertificate' | translate }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12" *ngIf='lstData?.lstResult.length == 0'>
            <div class="text-center bg-red noresult">
                <span class="font-italic">{{'CertificateNoResults' | translate }} </span><span>&#9785;</span>
            </div>
        </div>
    </div>
</section>