@model IdentityServer4.Quickstart.UI.ModelForgetPassword

<div class="container-fluid">
    <partial name="_ValidationSummary" />
    <div class="row justify-content-md-center my-5">
        <div class="col col-lg-5">
            <div class="card">

                <h6 class="card-header color-text-01 bb-color-01 text-center text-uppercase">
                    Forgotten your password?
                </h6>

                <div class="card-body pt-3 pb-5">
                    <p class="mb-3 text-center">
                        Enter your email address and we'll send you a link to reset your
                        password
                    </p>
                    @using (Html.BeginForm("ForgetPassword", "Account"))
                    {
                    <fieldset>
                        <div class="form-group md-form">
                            <div class="prefix"><i class="fal fa-at"></i></div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <center>
                            <button class="btn btn-outline-color-01 btn-rounded" name="button" value="ForgetPassword">Send</button>
                            @Html.ActionLink("Cancel", "Login", "Account", null, new { @class = "btn btn-outline-color-01 btn-rounded " })
                        </center>
                    </fieldset>
                    }
                </div>

            </div>
        </div>
    </div>

</div>
