<section class="my-5 ">
    <div class="container container-max">
        <div class='row'>
            <h4 class="mb-4">{{'TrainingpageTitle' | translate }}</h4>
        </div>

        <div class="row" *ngIf="!IsTrainee">
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>{{'GenericPartner' | translate }}</mat-label>
                    <mat-select id="filterPartner" placeholder="{{'GenericSelectPartner' | translate }}"
                        (selectionChange)="onPartnerFilterSelect()" [(ngModel)]="filterObj.PartnerId"
                        name="filterPartnerVar">
                        <mat-option value="">{{'GenericSelectPartner' | translate }}</mat-option>
                        <mat-option *ngFor="let item of lstPartners" value="{{item.Id}}">
                            {{item.Name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>{{'GenericSubPartner' | translate }}</mat-label>
                    <mat-select id="filterSubPartnerId" placeholder="{{'GenericSelectPartner' | translate }}"
                        (selectionChange)="onSubPartnerFilterSelect()" [(ngModel)]="filterObj.SubPartnerId"
                        name="filterSubPartner">
                        <mat-option value="">{{'GenericSelectPartner' | translate }}</mat-option>
                        <mat-option *ngFor="let item of lstSubPartnersFilter" value="{{item.Id}}">
                            {{item.Name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>{{'GenericTrainer' | translate }}</mat-label>
                    <mat-select id="filterTrainer" placeholder="{{'GenericSelectTrainer' | translate }}"
                        [(ngModel)]="filterObj.TrainerId" name="filterTrainerVar">
                        <mat-option *ngFor="let item of lstTrainersFilter" value="{{item.Id}}">
                            {{item.Name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>{{'GenericTrainingType' | translate }}</mat-label>
                    <mat-select id="filterTrainingType" placeholder="Select a TrainingType"
                        (selectionChange)="onTrainingTypeFilterSelect()" [(ngModel)]="filterObj.TrainingTypeId"
                        name="filterTrainingTypeVar">
                        <mat-option value="">{{'GenericSelectTrainingType' | translate }}</mat-option>
                        <mat-option *ngFor="let item of lstTrainingTypes" value="{{item.Id}}">
                            {{item.Name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>{{'GenericTrainingCategory' | translate }}</mat-label>
                    <mat-select id="filtertrainingCategory"
                        placeholder="{{'GenericSelectTrainingCategory' | translate }}"
                        [(ngModel)]="filterObj.TrainingCategoryId" name="filtertrainingCategoryVar">
                        <mat-option value="">{{'GenericSelectTrainingCategory' | translate }}</mat-option>
                        <mat-option *ngFor="let item of lstTrainingCategoryFilter" value="{{item.Id}}">
                            {{item.Name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <input type="submit" value="{{'GenericSearch' | translate }}" class="btn color-bg-02 white-text"
                    (click)="filterbtn()">
            </div>
        </div>
        <div class='row' *ngIf="!IsTrainee">
            <div class="col-sm-12 md-form pull-right mb-1">
                <input type="button" class="pull-right btn color-bg-01 white-text"
                    value="{{'GenericCreateNew' | translate }}" (click)="createBtn(content)">
                <input type="button" class="pull-right btn color-bg-02 white-text Excel"
                    value="{{'ExportToExcel' | translate }}" (click)="ExportBtn()">
            </div>
        </div>

        <div class="col-md-12">
            <div class='table-responsive '>
                <table class='table' *ngIf='page.content && page.content.length'>
                    <thead>
                        <tr>
                            <th>{{'GenericTrainer' | translate }} ({{'GenericPartner' | translate }})</th>
                            <th>{{'GenericType' | translate }}({{'TrainingCategory' | translate }})</th>
                            <th>{{'TrainingDates' | translate }}</th>
                            <!-- <th *ngIf="!IsTrainee">{{'CertificateApprove' | translate }}</th>
                            <th *ngIf="!IsTrainee">{{'TrainingConfirm' | translate }} 1</th> -->
                            <th *ngIf="!IsTrainee">{{'TrainingConfirm' | translate }} 2</th>
                            <th>{{'GenericAction' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let obj of page.content'>
                            <td>{{ obj.TrainerCount }} - {{obj.TrainerDetails.Name}} ({{ obj.PartnerId.Name}})</td>
                            <td>{{ obj.TrainingTypeId.Name}}({{ obj.TrainingCategoryId.Name}})</td>
                            <td>{{ obj.StartDate | date:'dd/MM/yyyy'}} -
                                {{ obj.EndDate | date:'dd/MM/yyyy'}}</td>
                            <td *ngIf="( !IsTrainee)  ">
                                <mat-slide-toggle *ngIf="IsAdmin && !obj.IsConfirm2 && isCourseEnded(obj.EndDate)"
                                    (change)="onTrainingConfirm2(obj.Id)" color="primary"></mat-slide-toggle>
                                <span><i *ngIf=" obj.IsConfirm2" class="fas fa-check"></i></span>
                            </td>
                            <!-- <td *ngIf="( !IsTrainee)   ">
                                <i *ngIf="obj.IsConfirm1" class="fas fa-check"></i>
                            </td> -->
                            <!-- <td *ngIf="( !IsTrainee)  ">
                                <i *ngIf="obj.IsConfirm2" class="fas fa-check"></i>
                            </td> -->
                            <td *ngIf="!IsTrainee">
                                <a *ngIf="obj.CanEdit " title="{{'GenericEdit' | translate }}"
                                    (click)="openBackDropCustomClass(content,obj)"><i
                                        title="{{'GenericEdit' | translate }}" class="far fa-edit"></i></a>
                                <a *ngIf="!obj.CanEdit" title="{{'GenericView' | translate }}"
                                    (click)="openViewOnly(contentViewOnly,obj)"><i
                                        title="{{'GenericView' | translate }}" class="far fa-eye"></i></a>
                                <a *ngIf="IsAdmin || IsTrainer" title="{{'TrainingTrainees' | translate }}"
                                    (click)="ListTrainees(obj.Id)"><i title="{{'TrainingTrainees' | translate }}"
                                        class="fas fa-users"></i></a>
                                <a title="{{'TrainingAttendance' | translate }}" (click)="Attendance(obj.Id)"><i
                                        title="{{'TrainingAttendance' | translate }}"
                                        class="fas fa-clipboard-list"></i></a>
                                <a *ngIf="IsAdmin" title="{{'HeaderExamTemplates' | translate }}"
                                    (click)="openExamTemplate(contentExamTemplate, obj)"><i
                                        title="{{'HeaderExamTemplates' | translate }}" class="fas fa-diagnoses"></i></a>
                                <a *ngIf="(IsAdmin || IsPartner ) && compareDate(obj.StartDate , todayDate) == 1"
                                    title="{{'GenericDeactivate' | translate }}" (click)="setDeactivate(obj.Id)"><i
                                        title="{{'TrainingDelete' | translate }}" class="fas fa-trash-alt"></i></a>
                            </td>
                            <td *ngIf="IsTrainee">
                                <a title="{{'TrainingRegister' | translate }}" (click)="Register(obj.Id)"><i
                                        title="{{'TrainingRegister' | translate }}" class="far fa-registered"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <app-custom-pagination [page]="page" (nextPageEvent)="getNextPage()" (previousPageEvent)="getPreviousPage()"
                (loadPageCurrentEvent)="getloadPageCurrent()">
            </app-custom-pagination>
        </div>
    </div>
    <div>
        <ng-template role="dialog" #content let-modal class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header color-bg-01 white-text text-center">

                        <h6 class="modal-title">
                            {{(modelIsCreate ? 'GenericCreate'   : 'GenericEditing') | translate}} :
                            {{modelIsCreate ? ("GenericNew" | translate) : modelNameEdited}}
                        </h6>
                    </div>
                    <div class="modal-body pt-0">
                        <form novalidate (ngSubmit)="modelSaveBtn(modelForm)" #modelForm="ngForm">
                            <div class="row">
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>{{'GenericPartner' | translate }}</mat-label>
                                        <mat-select id="modelPartner" [disabled]="modelIsStarted"
                                            placeholder="{{'GenericSelectPartner' | translate }}" required
                                            (selectionChange)="onPartnerSelect()" [(ngModel)]="modelObj.PartnerId"
                                            name="modelPartnerVar" #modelPartnerVar="ngModel" name="modelPartner"
                                            [ngClass]="{'is-invalid': (modelPartnerVar.touched || modelPartnerVar.dirty) && !modelPartnerVar.valid }">
                                            <!-- <mat-option value="0">{{'GenericSelectPartner' | translate }}</mat-option> -->
                                            <mat-option *ngFor="let item of lstPartners" value="{{item.Id}}">
                                                {{item.Name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="modelPartnerVar.errors?.required">
                                            {{'GenericSelectPartnerError' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>{{'GenericSubPartner' | translate }}</mat-label>
                                        <mat-select id="modelSubPartner" placeholder="Select a SubPartner" required [disabled]="modelIsStarted"
                                            (selectionChange)="onSubPartnerSelect()" [(ngModel)]="modelObj.SubPartnerId"
                                            name="modelSubPartnerVar" #modelSubPartnerVar="ngModel"
                                            name="modelSubPartner"
                                            [ngClass]="{'is-invalid': (modelSubPartnerVar.touched || modelSubPartnerVar.dirty) && !modelSubPartnerVar.valid }">
                                            <!-- <mat-option value="0">{{'GenericSelectSubPartner' | translate }}
                                            </mat-option> -->
                                            <mat-option *ngFor="let item of lstSubPartners" value="{{item.Id}}">
                                                {{item.Name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="modelSubPartnerVar.errors?.required">
                                            {{'GenericSelectSubPartnerError' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>{{'GenericTrainer' | translate }}</mat-label>
                                        <mat-select id="modelTrainer" placeholder="{{'GenericTrainer' | translate }}" [disabled]="modelIsStarted"
                                            required [(ngModel)]="modelObj.TrainerId" name="modelTrainerVar"
                                            #modelTrainerVar="ngModel" name="modelTrainer"
                                            [ngClass]="{'is-invalid': (modelTrainerVar.touched || modelTrainerVar.dirty) && !modelTrainerVar.valid }">
                                            <!-- <mat-option value="0">Select a Trainer</mat-option> -->
                                            <mat-option *ngFor="let item of lstTrainers" value="{{item.Id}}">
                                                {{item.Name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="modelTrainerVar.errors?.required">
                                            {{'TrainingSelectTrainerError' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>{{'GenericTrainingCenter' | translate }}</mat-label>
                                        <mat-select id="modelTrainingCenter" placeholder="Select a Training Center" [disabled]="modelIsStarted"
                                            required [(ngModel)]="modelObj.TrainingCenterId"
                                            #modelTrainingCenterVar="ngModel" name="modelTrainingCenter"
                                            [ngClass]="{'is-invalid': (modelTrainingCenterVar.touched || modelTrainingCenterVar.dirty) && !modelTrainingCenterVar.valid }">
                                            <!-- <mat-option value="0">{{'TrainingTrainingCenter' | translate }}</mat-option> -->
                                            <mat-option *ngFor="let item of lstTrainingCenters" value="{{item.Id}}">
                                                {{item.Name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="modelTrainingCenterVar.errors?.required">
                                            {{'TrainingTrainingCenterError' | translate }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>{{'GenericTrainingType' | translate }}</mat-label>
                                        <mat-select id="modelTrainingType" placeholder="{{'TrainingType' | translate }}"
                                            required (selectionChange)="onTrainingTypeSelect()"
                                            [(ngModel)]="modelObj.TrainingTypeId" name="modelTrainingTypeVar"
                                            #modelTrainingTypeVar="ngModel"
                                            [ngClass]="{'is-invalid': (modelTrainingTypeVar.touched || modelTrainingTypeVar.dirty) && !modelTrainingTypeVar.valid }">
                                            <!-- <mat-option value="0">{{'GenericSelectTrainingType' | translate }}
                                            </mat-option> -->
                                            <mat-option *ngFor="let item of lstTrainingTypes" value="{{item.Id}}">
                                                {{item.Name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="modelTrainingTypeVar.errors?.required">
                                            {{'TrainingTypeError' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>{{'GenericTrainingCategory' | translate }}</mat-label>
                                        <mat-select id="modeltrainingCategory"
                                            placeholder="{{'GenericSelectTrainingCategory' | translate }}" required
                                            [(ngModel)]="modelObj.TrainingCategoryId" name="modeltrainingCategoryVar"
                                            #modeltrainingCategoryVar="ngModel" name="modeltrainingCategory"
                                            [ngClass]="{'is-invalid': (modeltrainingCategoryVar.touched || modeltrainingCategoryVar.dirty) && !modeltrainingCategoryVar.valid }">
                                            <!-- <mat-option value="0">{{'GenericSelectTrainingCategory' | translate }}
                                            </mat-option> -->
                                            <mat-option *ngFor="let item of lstTrainingCategory" value="{{item.Id}}">
                                                {{item.Name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="modeltrainingCategoryVar.errors?.required">
                                            {{'TrainingCategoryError' | translate }}
                                        </mat-error>
                                    </mat-form-field><br>
                                    <mat-hint class="matHintTraining">
                                        <span *ngFor="let item of getCourses()">{{item.Name}}, </span>
                                    </mat-hint>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>{{'GenericType' | translate }}</mat-label>
                                        <mat-select id="modelType" placeholder="{{'AccountSelectType' | translate }}"
                                            required [(ngModel)]="modelObj.Type" name="modelTypeVar" [disabled]="modelIsStarted"
                                            #modelTypeVar="ngModel" name="modelType"
                                            [ngClass]="{'is-invalid': (modelTypeVar.touched || modelTypeVar.dirty) && !modelTypeVar.valid }">
                                            <mat-option value="1">{{'TrainingPublic' | translate }}</mat-option>
                                            <mat-option value="2">{{'TrainingPrivate' | translate }}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="modelTypeVar.errors?.required">
                                            {{'TrainingSelectTypeError' | translate }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>{{'GenericCity' | translate }}</mat-label>
                                        <mat-select id="modelCity" placeholder="{{'AccountSelectCity' | translate }}"
                                            required [(ngModel)]="modelObj.CityId" name="modelCityVar" [disabled]="modelIsStarted"
                                            (selectionChange)="OnCitySelect()" #modelCityVar="ngModel" name="modelCity"
                                            [ngClass]="{'is-invalid': (modelCityVar.touched || modelCityVar.dirty) && !modelCityVar.valid }">
                                            <!-- <mat-option value="0">Select a City</mat-option> -->
                                            <mat-option *ngFor="let item of lstCity" value="{{item.Id}}">
                                                {{item.Name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="modelCityVar.errors?.required">
                                            {{'AccountSelectCityError' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>{{'TrainingArea' | translate }}</mat-label>
                                        <mat-select id="modelArea" placeholder="Select a Area" required [disabled]="modelIsStarted"
                                            [(ngModel)]="modelObj.AreaId" name="filterTypeId" #modelAreaVar="ngModel"
                                            name="modelArea"
                                            [ngClass]="{'is-invalid': (modelAreaVar.touched || modelAreaVar.dirty) && !modelAreaVar.valid }">
                                            <!-- <mat-option value="0">{{'TrainingAreaSelect' | translate }}</mat-option> -->
                                            <mat-option *ngFor="let item of lstAreas" value="{{item.Id}}">
                                                {{item.Name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="modelAreaVar.errors?.required">
                                            {{'TrainingAreaSelectError' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'TrainingStart' | translate }}</mat-label>
                                        <input matInput [owlDateTime]="dt1" [min]="todayDate" required [disabled]="modelIsStarted"
                                            id="modelStartDateId" type="text"
                                            placeholder="{{'TrainingStartSelect' | translate }}" required
                                            [(ngModel)]="modelObj.StartDate" #modelStartDateVar="ngModel"
                                            name="modelStartDate" (ngModelChange)="onStartDateSelect($event)"
                                            [ngClass]="{'is-invalid': (modelStartDateVar.touched || modelStartDateVar.dirty) && !modelStartDateVar.valid }" />
                                        <mat-error *ngIf="modelStartDateVar.errors?.required">
                                            {{'TrainingStartError' | translate }}
                                        </mat-error>
                                        <mat-icon matSuffix [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i>
                                        </mat-icon>
                                    </mat-form-field>
                                    <owl-date-time #dt1></owl-date-time>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'TrainingEnd' | translate }}</mat-label>
                                        <input matInput [owlDateTime]="dt2" [min]="todayDate" required [disabled]="modelIsStarted"
                                            id="modelEndDateId" type="text"
                                            placeholder="{{'TrainingEndSelect' | translate }}" required
                                            (ngModelChange)="onEndDateSelect($event)" [(ngModel)]="modelObj.EndDate"
                                            #modelEndDateVar="ngModel" name="modelEndDate"
                                            [ngClass]="{'is-invalid': (modelEndDateVar.touched || modelEndDateVar.dirty) && !modelEndDateVar.valid }" />
                                        <mat-error *ngIf="modelEndDateVar.errors?.required">
                                            {{'TrainingEndError' | translate }}</mat-error>
                                        <mat-icon matSuffix [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i>
                                        </mat-icon>
                                    </mat-form-field>
                                    <owl-date-time #dt2></owl-date-time>
                                    <mat-error class="MatError" *ngIf="!IsDatesCorrect">
                                        {{'TrainingDateError' | translate }}</mat-error>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>{{'TrainingDays' | translate }}</mat-label>
                                        <mat-select multiple id="modelDays" [disabled]="modelIsStarted"
                                            placeholder="{{'TrainingDaysSelect' | translate }}" required
                                            [(ngModel)]="modelObj.days" name="modelDaysVar" #modelDaysVar="ngModel"
                                            name="modelDays"
                                            [ngClass]="{'is-invalid': (modelDaysVar.touched || modelDaysVar.dirty) && !modelDaysVar.valid }">
                                            <!-- <mat-option value="0">{{'TrainingDaysSelect' | translate }}</mat-option> -->
                                            <mat-option value="1">{{'TrainingSunday' | translate }}</mat-option>
                                            <mat-option value="2">{{'TrainingMonday' | translate }}</mat-option>
                                            <mat-option value="3">{{'TrainingTuesday' | translate }}</mat-option>
                                            <mat-option value="4">{{'TrainingWednesday' | translate }}</mat-option>
                                            <mat-option value="5">{{'TrainingThursday' | translate }}</mat-option>
                                            <mat-option value="6">{{'TrainingFriday' | translate }}</mat-option>
                                            <mat-option value="7">{{'TrainingSaturday' | translate }}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="modelDaysVar.errors?.required">
                                            {{'TrainingDaysError' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group ">
                                        <span class="pr-3">{{'TrainingIsOnline' | translate }}:</span>
                                        <input type="radio" [checked]="modelObj.IsOnline" name="TrainingIsOnline" [disabled]="modelIsStarted"
                                            (change)="onLocationChange($event,'1')"
                                            class="mr-2" />{{'TrainingOnline' | translate }}
                                        <input type="radio" [checked]="!modelObj.IsOnline" name="TrainingIsOnline" [disabled]="modelIsStarted"
                                            (change)="onLocationChange($event,'0')"
                                            class="mr-2 ml-4" />{{'TrainingOffline' | translate }}
                                    </div>

                                </div>
                            </div>
                            <div class="form-group pull-right md-form">
                                <button class="btn color-bg-01 btn-sm white-text" type="submit" style="width:80px"
                                    [disabled]="!modelForm.valid || !IsDatesCorrect">{{'GenericSave' | translate }}</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn color-bg-02 btn-sm white-text"
                            (click)="modal.close('Close click')">{{'GenericClose' | translate }}</button>
                    </div>


                </div>
            </div>
        </ng-template>
    </div>
    <div>
        <ng-template role="dialog" #contentViewOnly let-modal class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header color-bg-01 white-text text-center">

                        <h6 class="modal-title">
                            {{(modelIsCreate ? 'GenericCreate'   : 'GenericEditing') | translate}} :
                            {{modelIsCreate ? ("GenericNew" | translate) : modelNameEdited}}
                        </h6>
                    </div>
                    <div class="modal-body pt-0">

                        <form novalidate (ngSubmit)="modelSaveBtn(modelForm)" #modelForm="ngForm">
                            <div class="row">
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'GenericPartner' | translate }}: </mat-label>
                                    <mat-label class="view">{{modelObj.PartnerId}}</mat-label>
                                </div>
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'GenericSubPartner' | translate }}:
                                    </mat-label>
                                    <mat-label class="view">{{modelObj.SubPartnerId}}</mat-label>
                                </div>
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'GenericTrainer' | translate }}: </mat-label>
                                    <mat-label class="view">{{modelObj.TrainerId}}</mat-label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'GenericTrainingCenter' | translate }}:
                                    </mat-label>
                                    <mat-label class="view">{{modelObj.TrainingCenterId}}</mat-label>
                                </div>
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'GenericTrainingType' | translate }}:
                                    </mat-label>
                                    <mat-label class="view">{{modelObj.TrainingTypeId}}</mat-label>
                                </div>
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'GenericTrainingCategory' | translate }}:
                                    </mat-label>
                                    <mat-label class="view">{{modelObj.TrainingCategoryId}}</mat-label><br>
                                    <div class="viewHint">
                                        <span *ngFor="let item of lstCourses">{{item.Name}}, </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">

                                    <mat-label class="font-weight-bold">{{'GenericType' | translate }}: </mat-label>
                                    <mat-label class="view" *ngIf="modelObj.Type == '1'">
                                        {{'TrainingPublic' | translate }}</mat-label>
                                    <mat-label class="view" *ngIf="modelObj.Type == '2'">
                                        {{'TrainingPrivate' | translate }}</mat-label>
                                </div>
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'GenericCity' | translate }}: </mat-label>
                                    <mat-label class="view">{{modelObj.CityId}}</mat-label>
                                </div>
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'TrainingArea' | translate }}: </mat-label>
                                    <mat-label class="view">{{modelObj.AreaId}}</mat-label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'TrainingStart' | translate }}: </mat-label>
                                    <mat-label class="view">{{ modelObj.StartDate | date:"dd/MM/yyyy" }}</mat-label>
                                </div>
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'TrainingEnd' | translate }}: </mat-label>
                                    <mat-label class="view">{{ modelObj.EndDate | date:"dd/MM/yyyy" }}</mat-label>
                                </div>
                                <div class="col-sm-4">
                                    <mat-label class="font-weight-bold">{{'TrainingDays' | translate }}: </mat-label>
                                    <mat-label class="view" *ngIf="modelObj.days.includes('1')">
                                        {{'TrainingSunday' | translate }}, </mat-label>
                                    <mat-label class="view" *ngIf="modelObj.days.includes('2')">
                                        {{'TrainingMonday' | translate }}, </mat-label>
                                    <mat-label class="view" *ngIf="modelObj.days.includes('3')">
                                        {{'TrainingTuesday' | translate }}, </mat-label>
                                    <mat-label class="view" *ngIf="modelObj.days.includes('4')">
                                        {{'TrainingWednesday' | translate }}, </mat-label>
                                    <mat-label class="view" *ngIf="modelObj.days.includes('5')">
                                        {{'TrainingThursday' | translate }}, </mat-label>
                                    <mat-label class="view" *ngIf="modelObj.days.includes('6')">
                                        {{'TrainingFriday' | translate }}, </mat-label>
                                    <mat-label class="view" *ngIf="modelObj.days.includes('7')">
                                        {{'TrainingSaturday' | translate }}, </mat-label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-label class="font-weight-bold">{{'TrainingIsOnline' | translate }}:
                                    </mat-label>
                                    <mat-label class="view" *ngIf="modelObj.IsOnline">{{'TrainingOnline' | translate }}
                                    </mat-label>
                                    <mat-label class="view" *ngIf="!modelObj.IsOnline">
                                        {{'TrainingOffline' | translate }}</mat-label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn color-bg-02 btn-sm white-text"
                            (click)="modal.close('Close click')">{{'GenericClose' | translate }}</button>
                    </div>


                </div>
            </div>
        </ng-template>
    </div>
    <div>
        <ng-template role="dialog" #contentExamTemplate let-modal class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header color-bg-01 white-text text-center">

                        <h6 class="modal-title">
                            {{'HeaderExamTemplates' | translate }}
                        </h6>
                    </div>
                    <div class="modal-body pt-0">

                        <form novalidate (ngSubmit)="SaveExamTemplate(modelForm)" #modelForm="ngForm">
                            <div class="form-group ">
                                <mat-form-field>
                                    <mat-label>{{'HeaderExamTemplates' | translate }}</mat-label>
                                    <mat-select id="modelExamTemplate"
                                        placeholder="{{'TrainingExamTemplateSelect' | translate }}" required
                                        [(ngModel)]="modelExamTemplate.SubEntityId" name="modelExamTemplateVar"
                                        #modelExamTemplateVar="ngModel" name="modelExamTemplate"
                                        [ngClass]="{'is-invalid': (modelExamTemplateVar.touched || modelExamTemplateVar.dirty) && !modelExamTemplateVar.valid }">
                                        <mat-option value="0">{{'TrainingExamTemplateSelect' | translate }}</mat-option>
                                        <mat-option *ngFor="let item of lstExamTemplate" value="{{item._id}}">
                                            {{item.Name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="modelExamTemplateVar.errors?.required">
                                        {{'TrainingExamTemplateSelectError' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group pull-right md-form">
                                <button class="btn color-bg-01 btn-sm white-text btnSave" type="submit"
                                    [disabled]="!modelForm.valid">{{'GenericSave' | translate }}</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn color-bg-02 btn-sm white-text"
                            (click)="modal.close('Close click')">{{'GenericClose' | translate }}</button>
                    </div>


                </div>
            </div>
        </ng-template>
    </div>
</section>