<section class="my-5">
  <div class="container">
    <div class='row'>
      <h4 class="mb-4">{{'GenericPartner' | translate }}</h4>
    </div>
    <div class='row'>
      <div class="col-sm-6 md-form">
        <mat-form-field class="example-full-width">
          <mat-label>{{'PartnerSearch' | translate }}</mat-label>
          <input type="text" placeholder="{{'PartnerTypeName' | translate }}" matInput [(ngModel)]="filtertxt">
        </mat-form-field>
        <input type="submit" value="{{'GenericSearch' | translate }}"  class="btn color-bg-02 white-text" (click)="filterbtn()">
      </div>
      <div class="col-sm-6 md-form pull-right">
        <input type="button" class="pull-right btn color-bg-01 white-text" value="{{'GenericCreateNew' | translate }}"
          (click)="createBtn(content)">
      </div>
    </div>
    <div class="col-md-12">
      <div class='table-responsive'>
        <table class='table' *ngIf='page.content && page.content.length'>
          <thead>
            <tr>
              <th>{{'GenericName' | translate }}</th>
              <th>{{'RequestPhone' | translate }}</th>
              <th>{{'PartnerManageAccount' | translate }}</th>
              <th>{{'GenericAction' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let obj of page.content'>
              <td>{{ obj.Name}}</td>
              <td>{{ obj.Phone}}</td>
              <td>
                <span *ngFor="let item of obj.Members">{{item.Name}}, </span>
              </td>
              <td>
                <input *ngIf="obj.IsActive" type="button" class="btn btn-primary" value="{{'GenericEdit' | translate }}"
                  (click)="openBackDropCustomClass(content,obj)">
                <input *ngIf="obj.IsActive" type="button" class="btn btn-warning" value="{{'PartnerAccount' | translate }}"
                  (click)="openBackDropCustomClass(contentAssign,obj)">
                <input *ngIf="obj.IsActive" type="button" class="btn btn-info" value="{{'GenericTrainingCenter' | translate }}"
                  (click)="GoToTrainingCenters(obj.Id)">
                <input *ngIf="obj.IsActive" type="button" class="btn btn-danger" value="{{'GenericDeactivate' | translate }}"
                  (click)="setDeactivate(obj.Id)">
                <input *ngIf="!obj.IsActive" type="button" class="btn btn-success" value="{{'GenericActivate' | translate }}"
                  (click)="setActivate(obj.Id)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <app-custom-pagination [page]="page" (nextPageEvent)="getNextPage()" (previousPageEvent)="getPreviousPage()"
        (loadPageCurrentEvent)="getloadPageCurrent()">
      </app-custom-pagination>
    </div>
  </div>
  <div>
    <ng-template role="dialog" #content let-modal class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header color-bg-01 white-text text-center">

            <h6 class="modal-title">
          
              {{(modelIsCreate ? 'GenericCreate'   : 'GenericEditing') | translate}} : {{modelIsCreate ? ("GenericNew" | translate) : modelNameEdited}}
            </h6>
          </div>
          <div class="modal-body pt-0">
            <form novalidate (ngSubmit)="modelSaveBtn(modelForm)" #modelForm="ngForm">
              <div class="form-group ">
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PartnerName' | translate }}</mat-label>
                  <input matInput id="modelNameId" type="text" placeholder="{{'GenericRequiredName' | translate }}" required
                    [(ngModel)]="modelObj.Name" #modelNameVar="ngModel" name="modelName"
                    [ngClass]="{'is-invalid': (modelNameVar.touched || modelNameVar.dirty) && !modelNameVar.valid }" />
                  <mat-error *ngIf="modelNameVar.errors?.required">{{'PartnerEnterNameError' | translate }}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group ">
                <mat-form-field class="example-full-width">
                  <mat-label>{{'RequestPhone' | translate }}</mat-label>
                  <input matInput id="modelPhoneId" type="number" placeholder="{{'RequestPhoneSelect' | translate }}" required number
                    [(ngModel)]="modelObj.Phone" #modelPhoneVar="ngModel" name="modelPhone"
                    [ngClass]="{'is-invalid': (modelPhoneVar.touched || modelPhoneVar.dirty) && !modelPhoneVar.valid }" />
                  <mat-error *ngIf="modelPhoneVar.errors?.required">{{'RequestPhoneError' | translate }}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group ">
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PartnerMinHour' | translate }}</mat-label>
                  <input matInput id="modelMinHoursId" pattern="^[1-9][0-9]?$|^100$" min="1" type="number" placeholder="{{'PartnerMinHourSelect' | translate }}" required number
                    [(ngModel)]="modelObj.MinHours" #modelMinHoursVar="ngModel" name="modelMinHours" (ngModelChange)="onHoursSelect($event)"
                    [ngClass]="{'is-invalid': (modelMinHoursVar.touched || modelMinHoursVar.dirty) && !modelMinHoursVar.valid }" />
                  <mat-error *ngIf="modelMinHoursVar.errors?.required">{{'PartnerMinHourError' | translate }}</mat-error>
                  <mat-error *ngIf="modelMaxHoursVar?.errors?.pattern">{{'ConfigOrderError' | translate }}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group ">
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PartnerMaxHour' | translate }}</mat-label>
                  <input matInput id="modelMaxHoursId" pattern="^[1-9][0-9]?$|^100$" type="number" placeholder="{{'PartnerMaxHourSelect' | translate }}" required number 
                    [(ngModel)]="modelObj.MaxHours" #modelMaxHoursVar="ngModel" name="modelMaxHours"  min="1" (ngModelChange)="onHoursSelect($event)"
                    [ngClass]="{'is-invalid': (modelMaxHoursVar.touched || modelMaxHoursVar.dirty) && !modelMaxHoursVar.valid }" />
                    <mat-error *ngIf="modelMaxHoursVar.errors?.required">{{'PartnerMaxHourError' | translate }}</mat-error>
                    <mat-error *ngIf="modelMaxHoursVar?.errors?.pattern">{{'ConfigOrderError' | translate }}</mat-error>
                    <!-- <mat-error class="MatError" *ngIf="IsHoursCorrect">{{'TrainingDateError' | translate }}111</mat-error> -->
                </mat-form-field>
              </div>
              <div class="form-group pull-right md-form">
                <button class="btn color-bg-01 btn-sm white-text btnSave" type="submit"
                  
                  [disabled]="!modelForm.valid">{{'GenericSave' | translate }}</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn color-bg-02 btn-sm white-text"
              (click)="modal.close('Close click')">{{'GenericClose' | translate }}</button>
          </div>


        </div>
      </div>
    </ng-template>

    <div>
      <ng-template #contentAssign let-modal>
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header color-bg-01 white-text text-center">

              <h6 class="modal-title">
                {{'PartnerAssignAccount' | translate }}: {{modelNameEdited}}</h6>
            </div>
            <div class="modal-body pt-0">
              <div>
                <cust-search-partner (OnSelectedPartner)='OnSelectedPartner($event)'></cust-search-partner>
              </div>
              <div>
                <table class='table' *ngIf='modelObj.Members && modelObj.Members.length'>
                  <thead>
                    <tr>
                      <th>{{'GenericName' | translate }}</th>
                      <th>{{'GenericAction' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let obj of modelObj.Members'>
                      <td>{{ obj.Name }}
                      </td>
                      <td>
                        <input *ngIf="obj.IsActive" type="button" class="btn btn-danger" value="{{'GenericRemove' | translate }}"
                          (click)="Remove(obj.Id)">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn color-bg-02 btn-sm white-text"
                (click)="modal.close('Close click')">{{'GenericClose' | translate }}</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</section>