<section class="our-dashbord dashbord">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-2 col-xl-2 dn-smd">
                <app-config-menu [pageName]="'create'"></app-config-menu>
            </div>
            <div class="col-sm-12 col-lg-10 col-xl-10">
                <div class="row">
                    <app-create-form [pageTitle]="'ConfigJobFairCreate' | translate " [formType]="formType"></app-create-form>
                </div>
            </div>
        </div>
    </div>
</section>
