
<div class="dashbord_nav_list">
    <ul>
        <li class="{{pageName.toLocaleLowerCase() == 'create' ? 'active' : ''}}"><a routerLink="/Config/JobFairCreate"><span class="flaticon-dashboard"></span>{{'ConfigMenuCreate' | translate }}</a></li>
        <li class="{{pageName.toLocaleLowerCase() == 'register' ? 'active' : ''}}"><a routerLink="/Config/JobFairRegister"><span class="flaticon-analysis"></span>{{'ConfigMenuRegister' | translate }}</a></li>
        <li class="{{pageName.toLocaleLowerCase() == 'company' ? 'active' : ''}}"><a routerLink="/Config/Company"><span class="flaticon-briefcase"></span>{{'EmployerPostJobCompany' | translate }}</a></li>
    </ul>
</div>