<!-- #Footer -->

<footer>

    <div class="footer-top vert-cent">

        <div class="container-fluid">

            <div class="row py-3 d-flex align-items-center">
                <div class="col-md-10 col-lg-10 customer-logos slider">
                    <div class="col-md-12" *ngIf="lstLogoPartner?.length > 0">
                        <div *ngFor="let item of lstLogoPartner" class="slide">
                            <img *ngIf="item.WebsiteURL == ''" src="{{FilesURL + item.ImagePath}}">
                            <a *ngIf="item.WebsiteURL != ''" href="{{item.WebsiteURL}}" target="_blank">
                                <img src="{{FilesURL + item.ImagePath}}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 text-center text-md-right">
                    <a href="https://www.facebook.com/TawarWaghayar" target="_blank" class="fb-ic"><i
                            class="fab fa-facebook-f ml-4"></i></a>
                    <a href="https://twitter.com/CitizenshipMSEg" target="_blank" class="tw-ic"><i
                            class="fab fa-twitter ml-4"></i></a>
                    <!-- <a href="javascript:void(0)" target="_blank" class="gplus-ic"><i
                            class="fab fa-google-plus-g ml-4"></i></a>
                    <a href="javascript:void(0)" target="_blank" class="li-ic"><i
                            class="fab fa-linkedin-in ml-4"></i></a>
                    <a href="javascript:void(0)" target="_blank" class="ins-ic"><i
                            class="fab fa-instagram ml-4"></i></a> -->
                </div>

            </div>
        </div>
    </div>

    <div class="footer-links">
        <div class="container-fluid">
            <div class="row py-4 d-flex">

                <div class="col-md-6 col-lg-6 col-xs-6 text-md-left mb-md-0 mb-3">
                    <img src="/assets/img/main/logo-load.jpg" class="img-fluid mb-3 " alt="" />
                    <div class="w-100"></div>
                    <img src="/assets/img/test-img/MoYouth.png" class="img-fluid mx-2" alt="" />
                    <img src="/assets/img/test-img/Microsoft.png" class="img-fluid mx-2" alt="" />
                    <img src="/assets/img/test-img/cef.png" class="img-fluid mx-2" alt="" />
                </div>

                <div class="col-md-3 col-lg-3 col-xs-6 text-md-left mb-md-0 mb-3">
                    <h6 class="mb-4">{{'FooterUsefulLinks' | translate }}</h6>
                    <p><a routerLink="/Terms">{{'FooterTerms' | translate }}</a></p>
                    <p><a routerLink="/Policy">{{'FooterPolicy' | translate }}</a></p>
                    <!-- <p><a routerLink="/About">About Us</a></p> -->
                </div>

                <div class="col-md-3 col-lg-3 text-md-left mb-md-0">
                    <h6 class="mb-4">{{'FooterContact' | translate }}</h6>
                    <p class="cont"><i class="fal fa-home mr-3"></i><a target="_blank"
                            href="https://www.facebook.com/MicrosoftEgyptCitizenship">
                            {{'FooterAddress1' | translate }}</a></p>
                    <p>{{'FooterAddress2' | translate }}</p>
                    <p>{{'FooterAddress3' | translate }}</p>
                    <p class="cont"><i class="fal fa-envelope mr-3"></i><a
                            href="mailto:info@getonlineegypt.com">info@getonlineegypt.com</a></p>
                    <p class="cont"><i class="fal fa-phone mr-3"></i><a href="tel:+20235393333">+2 02 3539 3333</a> /
                        <a href="tel:+20235390303">+2 02 3539 0303</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-4">
        <div class="container-fluid">
            ©
            <script>document.write(new Date().getFullYear());</script> TawarWeGhayar.com | Developed By <a
                href="http://www.nrg-it.com/" target="_blank"> nrg-it.com</a>
        </div>
    </div>

</footer>
<!-- #Footer End -->