<section class="my-5">
  <div class="container">
    <div class='row'>
      <h4 class="mb-4">{{'CertificateTrainingCenter' | translate }}</h4>
    </div>
    <div class='row'>
      <div class="col-sm-12 md-form pull-right mb-3">
        <button type="button" class="pull-right btn color-bg-01 white-text" (click)="createBtn(content)">{{'CertificateAdd' | translate }}</button>
      </div>
    </div>
    <div class="col-md-12">
      <div class='table-responsive'>
        <table class='table' *ngIf='page.content && page.content.length'>
          <thead>
            <tr>
              <th>{{'GenericPartner' | translate }}</th>
              <th>{{'GenericTrainingCenter' | translate }}</th>
              <th>{{'GenericTrainingType' | translate }}</th>
              <th>{{'GenericTrainingCategory' | translate }}</th>
              <th>{{'GenericType' | translate }}</th>
              <th>{{'GenericAction' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let obj of page.content'>
              <td>{{ obj.PartnerName}}</td>
              <td>{{ obj.TrainingCenterName}}</td>
              <td>{{ obj.TrainingTypeName}}</td>
              <td>{{ obj.TrainingCategoryName}}</td>
              <td>{{ GetType(obj.Type)}}</td>
              <td>
                <a class="mr-2" href="{{ obj.FileName}}" target="_blank">{{'CertificateDownloadCertificate' | translate }}</a>  
                <input *ngIf="!obj.IsActive" type="button" class="btn btn-success" value="{{'GenericActivate' | translate }}"
                (click)="setActivate(obj._id)">
                <input *ngIf="obj.IsActive" type="button" class="btn btn-danger" value="{{'GenericDeactivate' | translate }}"
                (click)="setDeactivate(obj._id)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <app-custom-pagination [page]="page" (nextPageEvent)="getNextPage()" (previousPageEvent)="getPreviousPage()"
        (loadPageCurrentEvent)="getloadPageCurrent()">
      </app-custom-pagination>
    </div>
  </div>
</section>

<div>
  <ng-template #content let-modal>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header color-bg-01 white-text text-center">
          <h6 class="modal-title">{{'CertificateUploadPartnerCertificate' | translate }}</h6>
        </div>
        <div class="modal-body pt-0">
          <form novalidate (ngSubmit)="modelSaveBtn(modelForm)" #modelForm="ngForm">
            <div class="form-group ">
              <span class="pr-3">{{'CertificateFiletype' | translate }}:</span>
              <input type="radio" checked="true" name="partnerFileType" (change)="onPartnerFileTypeChange($event,'Trainee')" class="mr-2"/>{{'GenericTrainee' | translate }}
              <!-- <input type="radio" name="partnerFileType" (change)="onPartnerFileTypeChange($event,'Trainer')"  class="mr-2 ml-4"/>{{'GenericTrainer' | translate }} -->
            </div>
            <div class="form-group ">
              <mat-form-field>
                <mat-label>{{'GenericPartnerEntity' | translate }}</mat-label>
                <mat-select placeholder="{{'GenericSelectPartner' | translate }}" required [(ngModel)]="selectPartnerId"
                  #modelMyPartnerListIds="ngModel" name="selectPartnerId" (selectionChange)="PartnerChange($event)">
                  <mat-option *ngFor="let obj of lstPartners" [value]="obj.Id">{{ obj.Name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="modelMyPartnerListIds.errors?.required">{{'GenericEnterPartner' | translate }}</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group ">
              <mat-form-field>
                <mat-label>{{'GenericTrainingCenter' | translate }}s</mat-label>
                <mat-select id="TrainingCenterId" placeholder="Select a TrainingCenterId" required #modelMyTCListIds="ngModel"
                  [(ngModel)]="selectedTrainingCenter" (selectionChange)="onTrainingCenterSelect($event)"
                  name="TrainingCenterId">
                  <mat-option value="">Select a Training Center</mat-option>
                  <mat-option *ngFor="let item of lstTrainingCenter" value="{{item.Id}}">
                    {{item.Name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="modelMyTCListIds.errors?.required">Please choose a Training Center.</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group ">
              <mat-form-field>
                <mat-label>{{'GenericTrainingType' | translate }}</mat-label>
                <mat-select id="TrainingTypeId" placeholder="{{'GenericSelectTrainingType' | translate }}" #modelTrainingTypeIds="ngModel"
                  required [(ngModel)]="selectedTrainingTypeId" name="selectedTrainingTypeId"
                  (selectionChange)="onTrainingTypeSelect($event)">
                  <mat-option value="">{{'GenericSelectTrainingType' | translate }}</mat-option>
                  <mat-option *ngFor="let item of lstTrainingTypes" value="{{item.Id}}">
                    {{item.Name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="modelTrainingTypeIds.errors?.required">{{'GenericSelectTrainingTypeError' | translate }}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'GenericTrainingCategory' | translate }}</mat-label>
                <mat-select id="filtertrainingCategory" placeholder="{{'GenericSelectTrainingCategory' | translate }}"
                  #modelTrainingCategoryIds="ngModel" required (selectionChange)="onTrainingCategorySelect($event)"
                  name="selectedTrainingCategory" [(ngModel)]="selectedTrainingCategory">
                  <mat-option value="">{{'GenericSelectTrainingCategory' | translate }}</mat-option>
                  <mat-option *ngFor="let item of lstTrainingCategory" value="{{item.Id}}">
                    {{item.Name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="modelTrainingCategoryIds.errors?.required">{{'GenericSelectTrainingCategoryError' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <span class="pr-3">{{'CertificateUploadCertificate' | translate }}</span>
              <input id="uploadPartnerCertificate" name="uploadPartnerCertificate" type="file" #filePartner
                placeholder="{{'CertificateChoosefile' | translate }}" accept="application/pdf," (change)="OnParentFileChanged(filePartner.files)"
                style="display:none;">
              <button id="btuploadPartnerCertificate" name="btuploadPartnerCertificate" type="button"
                class="btn btn-success" (click)="filePartner.click()">{{'CertificateSelectFile' | translate }}</button>
            </div>
            <div class="form-group pull-right">
              <button class="btn color-bg-01 btn-sm white-text btnSave" type="submit"
                
                [disabled]="!modelForm.valid">{{'GenericSave' | translate }}</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn color-bg-02 btn-sm white-text"
            (click)="modal.close('Close click')">{{'GenericClose' | translate }}</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>