<section class="accounts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-md-12 col-lg-12 ">
                        <h4 class="fz20">
                            {{"ChangePasswordPageTitle" | translate}}
                        </h4>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-xl-12">
                        <div class="my_profile_form_area">
                            <form novalidate #modelForm="ngForm">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <mat-form-field class="demo-full-width">
                                            <input matInput type="password" id="formGroupExampleInput1"
                                                [(ngModel)]="modelObj.OldPassword" required
                                                #modelStatusOldPasswordVar="ngModel" name="modelStatusOldPassword"
                                                [ngClass]="{'is-invalid': (modelStatusOldPasswordVar.touched || modelStatusOldPasswordVar.dirty) && !modelStatusOldPasswordVar.valid }"
                                                placeholder="{{'ChangePasswordOldPassword' | translate }}">
                                            <mat-error
                                                *ngIf="modelStatusOldPasswordVar.touched && modelStatusOldPasswordVar.errors?.required">
                                                {{'ChangePasswordOldPasswordError' | translate }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <mat-form-field class="demo-full-width">
                                            <input matInput type="password" id="formGroupExampleInput1"
                                                [(ngModel)]="modelObj.NewPassword" required
                                                #modelStatusNewPasswordVar="ngModel" name="modelStatusNewPassword"
                                                [ngClass]="{'is-invalid': (modelStatusNewPasswordVar.touched || modelStatusNewPasswordVar.dirty) && !modelStatusNewPasswordVar.valid }"
                                                placeholder="{{'ChangePasswordNewPassword' | translate }}">
                                            <mat-error
                                                *ngIf="modelStatusNewPasswordVar.touched && modelStatusNewPasswordVar.errors?.required">
                                                {{'ChangePasswordNewPasswordError' | translate }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <mat-form-field class="demo-full-width">
                                            <input matInput type="password" id="formGroupExampleInput1"
                                                [(ngModel)]="modelObj.ConfirmPassword" required
                                                #modelStatusConfirmPasswordVar="ngModel"
                                                name="modelStatusConfirmPassword"
                                                [ngClass]="{'is-invalid': (modelStatusConfirmPasswordVar.touched || modelStatusConfirmPasswordVar.dirty) && !modelStatusConfirmPasswordVar.valid}"
                                                placeholder="{{'ChangePasswordConfirmPassword' | translate }}">
                                            <mat-error
                                                *ngIf="modelStatusConfirmPasswordVar.touched && modelStatusConfirmPasswordVar.errors?.required">
                                                {{'ChangePasswordConfirmPasswordError' | translate }}</mat-error>
                                        </mat-form-field>
                                        <div class="valError matErrorDate"
                                        *ngIf="CheckConfirm()">
                                        {{'ChangePasswordConfirmPasswordMissmatch' | translate }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-sm-4 d-inline-flex">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="my_profile_input">
                                                <button class="btn btn-lg w-75 btn-thm" (click)="Save(modelForm)"
                                                    [title]="(modelForm.valid  ) ? 'Save your entered data' : 'Disabled until the form data is valid'"
                                                    [disabled]="!(modelForm.valid)">{{'GenericSave' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>